body {
    background: url(Diseño\ sin\ título3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Verdana;
    
}
